body {
  padding-top:200px;
}
#main{
  text-align: center;
}
button {
  /*-webkit-animation-duration:3s;
  -webkit-animation-delay:3s;
  -webkit-animation-iteration-count:1;*/
}
h1.first {
  -webkit-animation-duration:1s;
  -webkit-animation-delay:1s;
  -webkit-animation-iteration-count:1;
}
.hello {
  animation-duration:0.5s;
  -webkit-animation-delay:2s;
}
